# Frontend environment variables
# Copy this file to .env and fill in your values.
# Vite requires variables to be prefixed with VITE_.

# Backend API base URL.
# Leave as default for local development.
# Set this to your deployed backend URL for production (e.g. Vercel, cPanel).
VITE_API_URL=https://test.bikaneza.com #This for testing deployed app purpose. where backend API is deployed.